input {
    display: block;
    width: 300px;
    
}

td {
    border: 1px solid black;  
}

button {
    width: 200px;
    margin: auto;
}

td > button {
    margin-left: 10px;
    width: fit-content;

}

#main {
    display: flex;
    flex-direction: column;
    width: 90vw;
    align-items: center;
    padding: 10px;
}

body {
    display: flex;
    flex-direction: column;
}



